# Configuration file for the translator script
[DEFAULT]

# Zendesk company name
company_name = testingzendesk12

# Zendesk user name and password (or token)
user = zendesk@maildrop.cc/token
password = i8wZBLnQLjbPVS5darEBPpVOChX99R1IJEFJUlBJ

# WebTranslateIt API key
webtranslateit_api_key = LEkb4IJgDsV8tHp3qRD2pQ

# Image CDN root url (optional)
image_cdn = 'http://my.cdn.io/images'

# Disable article comments by default (optional) 0 - no, 1 - yes
disable_article_comments = 1
