# Configuration file for the translator script
[DEFAULT]

# Zendesk company name
company_name = testingzendesk12

# Zendesk user name and password
user = zendesk@maildrop.cc
password = 123zendesk

# WebTranslateIt API key
webtranslateit_api_key = LEkb4IJgDsV8tHp3qRD2pQ

# Image CDN root url
image_cdn = 'http://my.cdn.io/images'
